:root
{
    --background-color: #ffdc00;
    --text-color: #000000;

    --font-family: 'Consolas', sans-serif;
    --base-font-size: 16px;
}

.poetsen-one-regular 
{
    font-family: "Poetsen One", sans-serif;
}